@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

/* Polices écritures textes */
body {
  font-family: "Josefin Sans", sans-serif;
  overflow-x: hidden;
  margin: 0;
}

h2,
h3,
h1 {
  color: white;
}

li {
  font-size: x-large;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
}

a:focus,
a:hover {
  color: #8ec14f;
}

/* Logo header */

header {
  display: flex;
  background-color: #797979;
  justify-content: space-between;
  align-items: center;
}

header img {
  padding: 10px;
}

nav {
  width: 100%;
}
nav > ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 10px;
  list-style: none;

  /* display: grid;
  grid-template-columns: repeat(6, 1fr);
  list-style-type: none;
  justify-items: center;
  gap: 40px; */
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  background-color: #797979;
  padding: 15px;
}

/* img linkedin footer */

#linkedinimg {
  height: 75px;
}

footer > p {
  grid-column-start: 2;
  align-self: self-end;
  margin-block-start: 0;
  margin-block-end: 0;
  color: white;
}

.flexitems {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.flexitems p {
  font-size: large;
  font-weight: 500;
  color: white;
}

@media only screen and (max-width: 900px) {
  header {
    display: flex;
    flex-direction: column;
  }
  #logo img {
    height: 80px;
  }
  li {
    font-size: medium;
  }
  nav {
    display: flex;
  }
}

@media only screen and (max-width: 900px) {
  footer {
    display: flex;
    flex-direction: column;
  }
  footer h2 {
    font-size: 1em;
  }
  .flexitems p {
    font-size: smaller;
    margin: 15px;
  }
  footer #linkedinimg {
    height: 50px;
  }
  footer p {
    text-align: center;
  }
}
