#container{
    border:2px red solid;
    background-color: grey;
    width: 1000px;
    height: 1000px;
    display: grid;
}


#box1{
    background-color: blueviolet;
}

#box2{
    background-color: greenyellow;
}

#box3{
    background-color: aqua;
}

#box4{ 
    background-color: chocolate;
}