#mainBody {
	display: grid;
	grid-template-rows: 1fr 4fr;
	margin: 2%;
}

#mainBody > form {
	grid-row: 2;
	display: grid;
	grid-template-rows: repeat(10, 1fr);
	grid-template-columns: 2.5vw repeat(8, 1fr);
	padding: 0.3em;
}

#mainBody > h2 {
	grid-row: 1;
	justify-self: center;
}

input {
	grid-column: 2 / 5;
	border: solid 1px #797979;
	border-radius: 0.5em;
	background-color: #e7e7e7;
	margin: 0.3em;
}

.labelIcon {
	height: 30px;
	width: 30px;
	grid-column: 1;
	align-self: center;
	justify-self: center;
	background-color: #e7e7e7;
	border-radius: 25%;
	margin: 0.3em;
}

#submit {
	width: max-content;
	grid-row: 5;
	grid-column: 9;
	justify-self: end;
}

#submit:hover {
	background-color: lightgray;
}

textarea {
	grid-column: 5 / 10;
	grid-row: 1 / 5;
	margin: 0.3em;
	border: solid 1px #797979;
	border-radius: 0.5em;
	background-color: #e7e7e7;
}

@media screen and (max-width: 1000px) {
	textarea {
		grid-column: 2 / 10;
		grid-row: 5 / 10;
	}
	#submit {
		grid-row: 10;
		grid-column: 9;
	}
	input {
		grid-column: 2 / 7;
	}
}
