#mainBody {
	display: grid;
	grid-template-rows: 1fr 4fr;
	grid-template-columns: 30px repeat(12, 1fr);
}

#mainBody > form {
	grid-row: 2;
	grid-column: 1 / 13;
	display: grid;
	grid-template-rows: repeat(10, 1fr);
	grid-template-columns: 30px repeat(12, 1fr);
	background-color: #797979;
	padding: 0.3em;
}

#mainBody > h1 {
	grid-row: 1;
	grid-column: 2 / 5;
	justify-self: center;
}

input {
	grid-column: 2 / 5;
	border: solid 1px #797979;
	border-radius: 0.5em;
	background-color: #e7e7e7;
}

.labelIcon {
	height: 30px;
	width: 30px;
	grid-column: 1;
	align-self: center;
	justify-self: center;
	background-color: #e7e7e7;
	border-radius: 25%;
}

#contactMessage {
	grid-row: 5/10;
	grid-column: 2 / 7;
}

#submit {
	width: max-content;
	grid-row: 10;
	grid-column: 6;
	justify-self: end;
}

#submit:hover {
	background-color: lightgray;
}
