
#container{
   /* border:2px red solid;*/
    /* background-color: #E7E7E7 ; */
    width: 80%;
    height: auto;  
    margin: auto;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    
    
}


#box1{
   /* background-color: rgb(129, 99, 157);*/
    height: auto;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 450px;
    grid-column: 1;
    

}

#box2{
    
  /*  background-color: rgb(129, 140, 113);*/
    height:auto;
    grid-column: 1;
    width: auto;
}

.imgarticle{
    grid-column: 2;
    align-self: center;
    height: 230px;
    width: auto;
    margin-left: 20px;
   
    

    
}

#box3{
   /* background-color: rgb(159, 205, 205);*/
    height: auto;
    grid-column: 1;
}

#box4{ 
   /* background-color: rgb(173, 143, 122);*/
    height: auto;
    grid-column: 1;
}

/*#img{
    margin-left: 20px;
    margin-right: 20px;
} 
*/


#img2{
    display: block;  
    width: 50%;
    margin: auto;
}

#img3{display: block;
width: 50%;
height: 250px;
margin-left: 40px;}



.article{
    display: flex;
    grid-column: 1;
    border: 2px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #797979;


}


h2{
    color: #8EC14F;
}