
#container{
    width: 80%;
    height: auto;  
    margin: auto;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    
    
    
}

/*Table des matière */
#box1{
   
    height: auto;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 460px;
    color:white;
    background-color: #797979;
    border-radius: 30px 30px;
    padding: 10px;
    
}
/* Premier bloc d'article*/
#box2{
    padding: 20px;
    height:auto;
    grid-column: 1;
    width: auto;
}

.imgarticle{
    grid-column: 2;
    align-self: center;
    height: 230px;
    width: auto;
    margin: 20px; 
}

#box3{
    padding: 20px;
    height: auto;
    grid-column: 1;
    width: auto;
}

#box4{ 
    padding: 20px;
    height: auto;
    grid-column: 1;
    width: auto;
}


#box5{
    padding: 20px;
    height: auto;
    grid-column: 1;
    width:auto;
}

#box5 p{
    padding-right: 100px;
}


#img2{
    display: block;  
    width: 500px;
    margin: auto;
    padding-bottom: 50px;
}

#img3{
    display: block;
    width: 60%;
    height: 300px;
    margin: auto;
    padding-bottom: 20px;
}

#imagebox4right{
    width: 300px;
    height: 200px;
    margin: auto;
    padding-right: 20px;
}

#box6{
    padding: 50px;
    height: auto;
}



.article{
    display: flex;
    grid-column: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #797979;
    border-radius: 10px 10px;
}


#container h2,h4{
    color: #8EC14F;
    padding-left: 20px;
}

#container p,#listarticle1,#listarticle2{
    color: white;
    padding-left: 20px;
    padding-bottom: 20px;
    margin: auto;
    list-style-type: none;
}

#logohtml{
    margin-left: 100px;
    margin-right: 100px;
}



#imageformateur{
    display: block;
    width: 60%;
    height: 350px;
    margin: auto;
    padding-bottom: 20px;
    
}

#pteam{
    font-size: 20px;
    text-align: center;
    
}




/* éléments css pour page_css.html */

#logocss{
    display: block;
    width: 60%;
    height: 300px;
    margin: auto;
    padding-bottom: 20px;
}



/* éléments pour css page_api.html */


#imgapi1 {
    grid-column: 2;
    align-self: center;
    height: 230px;
    width:  250px;
    margin: 20px; 

}


@media only screen and (max-width: 900px){
    #div_02{
    display:grid;
    flex-direction: column;
    height: auto;
    
    }
    
    
    
    }